@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

header {
  text-align: right;
  background-color: #6495ED;
  color:#FAEBD7;
  padding: 20px;
}

h1 a {
  color:#FAEBD7;
  font-family: 'Lora', serif;
  text-decoration: none;
}

nav ul li {
  list-style: none;
  line-height: 2em;

}

nav ul li a:link {
  color: #FAEBD7;
  text-decoration: none;
}

nav ul li a:visited {
  color: #FAEBD7;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  text-decoration: underline;
}

nav ul li a:active {
  color: #DEB887;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /*
  background-color: #aeb7b3;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1300px;
  */
}


main {
  background-color: #FAEBD7;
  padding: 1em;
  padding-top: 2em;
  /*
  padding: 5px 25px;
  margin: 0 auto;
  */
}

main a:link {
  color: #6495ED;
  text-decoration: none;
}

main a:visited {
  color: #6495ED;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main a:active {
  color: #DEB887;
}

article {
  background-color: white;
  border: solid 1px gray;
  box-shadow: 10px 5px 5px #cdcdcd;
  margin: 2em;
  margin-top: 0px;
  padding: 2em;
}

article h2 a:link {
  color: black;
  text-decoration: none;
}

article h2 a:visited {
  color: black;
  text-decoration: none;
}

article h2 a:hover {
  color: #6495ED;
  text-decoration: underline;
}

article h2 a:active {
  color: #DEB887;
}

img {
  width: 100%;
}

@media only screen and (min-width: 32.5em) {
  div {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  header {
    grid-column: 1/2;
  }

  main {
    grid-column: 2/3;
  }

  figure{
    text-align: center;
  }
  img {
    max-width: 80%;
  }
  
}

@media only screen and (min-width: 60em) {
  img {
    max-width: 50%;
  }
}
